
.header_class  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    
}



.logo{
    width: 5vw;
    align-items: center;
    margin-left: 20px;
  
    
}



.header-links {
    padding-left: 133vh;
    display: flex;
    gap: 20px;

    
}
.header-links a {
    text-decoration: none;
    color: rgb(7, 52, 119);
}

.header-links li {
    list-style-type: none;
    
}

.icon-signup {
    margin-right: 30px;
    color: rgb(7, 52, 119)
}

